##引入宏定义
$!define

$!callback.setFileName($tool.append($tableName, "Entity.java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/entity"))

##使用宏定义设置包后缀
#setPackageSuffix("entity")

##使用全局变量实现默认包导入
$!autoImport
import com.paoba.base.common.domain.BaseEntity;
import lombok.EqualsAndHashCode;
import lombok.Data;
import lombok.experimental.Accessors;
import org.hibernate.annotatinos.DynamicInsert;
import org.hibernate.annotatinos.DynamicUpdate;


import java.io.Serializable;

##使用宏定义实现类注释信息
#tableComment("实体类")
@Data
@EqualsAndHashCode(callSuper = true)
@Entity
@@Table(name = "$tool.hump2Underline($tableInfo.name})")
@DynamicUpdate
@DynamicInsert
@Accessors(chain = true)
public class $!{tableInfo.name}Entity extends BaseEntity {
    private static final long serialVersionUID = $!tool.serial();
#foreach($column in $tableInfo.fullColumn)
    @Column(name="$!{tool.hump2Underline($column.name)}", nullable = false, columnDefinition = "$!{$column.jdbcType} comment '$!{$column.comment}'")
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end

    public $!{tableInfo.name}Entity($!{tableInfo.name}VO $!tool.firstLowerCase($tableInfo.name)VO) {
        #foreach($column in $tableInfo.fullColumn)
            this.$!{column.name} = $!tool.firstLowerCase($tableInfo.name)VO$tool.append(".get")$!{column.name}$tool.append("()");
        #end
    }
}