##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Service"))
##设置回调
$!callback.setFileName($tool.append("I", $tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

$tool.append("import") $!{tableInfo.savePackageName}$tool.append(".entity.")$!{tableInfo.name}Entity;
$tool.append("import") $!{tableInfo.savePackageName}$tool.append(".obj.")$!{tableInfo.name}DTO;
$tool.append("import") $!{tableInfo.savePackageName}$tool.append(".obj.")$!{tableInfo.name}VO;
$tool.append("import") $!{tableInfo.savePackageName}$tool.append(".obj.")$!{tableInfo.name}QueryVO;
import org.springframework.data.domain.Page;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface I$!{tableName} {

    /**
     * 通过ID查询单条数据
     *
     * @param $!tool.firstLowerCase($tableInfo.name)QueryVO 查询参数
     * @return 实例对象
     */
    $!{tableInfo.name}DTO fineOne($!{tableInfo.name}QueryVO $!tool.firstLowerCase($tableInfo.name)QueryVO);

    /**
     * 查询多条数据
     *
     * @param $!tool.firstLowerCase($tableInfo.name)QueryVO 查询参数
     * @return 对象列表
     */
    Page<$!{tableInfo.name}DTO> queryAll($!{tableInfo.name}QueryVO $!tool.firstLowerCase($tableInfo.name)QueryVO);

    /**
     * 新增数据
     *
     * @param $!tool.firstLowerCase($tableInfo.name)VO 实例对象
     */
    void newOne($!{tableInfo.name}VO $!tool.firstLowerCase($tableInfo.name)VO);

    /**
     * 修改数据
     *
     * @param $!tool.firstLowerCase($tableInfo.name)VO 实例对象
     */
    void updateOne($!{tableInfo.name}VO $!tool.firstLowerCase($tableInfo.name)VO);

    /**
     * 删除数据
     *
     * @param $!tool.firstLowerCase($tableInfo.name)QueryVO 参数
     * @return 是否成功
     */
    boolean delOne($!{tableInfo.name}QueryVO $!tool.firstLowerCase($tableInfo.name)QueryVO);

}